<a href="https://colab.research.google.com/gist/viettran02/885849ab5ef8694639e7c072b48952e4/ai_week2_ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pandas.core.groupby.generic import DataFrame
import pandas as pd

url ='http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data.head(21)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
5,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
6,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
7,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
8,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
9,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold
10,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Gold
11,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Silver
12,1924,Chamonix,Skating,Speed skating,FIN,500m,M,Bronze
13,1924,Chamonix,Skating,Speed skating,FIN,combined (4 events),M,Bronze
14,1924,Chamonix,Skating,Speed skating,FIN,combined (4 events),M,Gold
15,1924,Chamonix,Skiing,Cross Country S,FIN,18km,M,Bronze
16,1924,Chamonix,Biathlon,Biathlon,FRA,military patrol,M,Bronze
17,1924,Chamonix,Curling,Curling,FRA,curling,M,Bronze
18,1924,Chamonix,Skating,Figure skating,FRA,pairs,X,Bronze
19,1924,Chamonix,Bobsleigh,Bobsleigh,GBR,four-man,M,Silver
20,1924,Chamonix,Curling,Curling,GBR,curling,M,Gold

Dữ liệu tìm được từ trang web

In [ ]:
data = data.set_index(data['NOC'])
data.loc['FIN']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
FIN,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
FIN,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
FIN,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
FIN,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
FIN,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold
...,...,...,...,...,...,...,...,...
FIN,2006,Turin,Skiing,Freestyle Ski.,FIN,moguls,M,Silver
FIN,2006,Turin,Skiing,Nordic Combined,FIN,Team,M,Bronze
FIN,2006,Turin,Skiing,Ski Jumping,FIN,K120 team (90m),M,Silver
FIN,2006,Turin,Skiing,Ski Jumping,FIN,K90 individual (70m),M,Silver
FIN,2006,Turin,Skiing,Snowboard,FIN,Half-pipe,M,Bronze

Dữ liệu huy chương của 1 nước (FIN)

In [ ]:
data.groupby(['Sport','Medal' == 'Gold']).count()

                   Year  City  Discipline  NOC  Event  Event gender
Sport      Medal
Biathlon   Bronze    54    54          54   54     54            54
           Gold      54    54          54   54     54            54
           Silver    54    54          54   54     54            54
Bobsleigh  Bronze    45    45          45   45     45            45
           Gold      45    45          45   45     45            45
           Silver    43    43          43   43     43            43
Curling    Bronze     7     7           7    7      7             7
           Gold       7     7           7    7      7             7
           Silver     7     7           7    7      7             7
Ice Hockey Bronze    23    23          23   23     23            23
           Gold      23    23          23   23     23            23
           Silver    23    23          23   23     23            23
Luge       Bronze    36    36          36   36     36            36
           Gold      37    37          37   37     37            37
           Silver    35    35          35   35     35            35
Skating    Bronze   249   249         249  249    249           249
           Gold     254   254         254  254    254           254
           Silver   255   255         255  255    255           255
Skiing     Bronze   350   350         350  350    350           350
           Gold     354   354         354  354    354           354
           Silver   356   356         356  356    356           356

Số huy chương của một môn thể thao

In [ ]:
data[(data['Sport'] == 'Skiing')&(data['Medal'] == 'Gold')]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
NOR,1924,Chamonix,Skiing,Cross Country S,NOR,18km,M,Gold
NOR,1924,Chamonix,Skiing,Cross Country S,NOR,50km,M,Gold
NOR,1924,Chamonix,Skiing,Nordic Combined,NOR,individual,M,Gold
NOR,1924,Chamonix,Skiing,Ski Jumping,NOR,K90 individual (70m),M,Gold
NOR,1928,St. Moritz,Skiing,Cross Country S,NOR,18km,M,Gold
...,...,...,...,...,...,...,...,...
USA,2006,Turin,Skiing,Alpine Skiing,USA,Alpine combined,M,Gold
USA,2006,Turin,Skiing,Alpine Skiing,USA,giant slalom,W,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold

Số HCV của môn skiing